---
title: Foundry ∞
---

%header.page-header.less{ data: { toggle_container: "container" } }
  .page-header-container
    = partial "partials/navigation"
    .header-image
      = image_tag "core-016-a.svg"
    %h1.header-logo
      Foundry ∞
    %section.header-content
      %h2
        = succeed "." do
          Open source SVG illustrations from the designers at
          = link_to "thoughtbot", "thoughtbot.com"

.signup
  %form#mc-embedded-subscribe-form.validate.signup_form{ action: "//thoughtbot.us11.list-manage.com/subscribe/post?u=04f9ab7c6af5b2f23b1545be2&id=8790e2dc86", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank" }
    %label.signup_label{ for: "mce-EMAIL" } Subscribe for Updates
    %input#mce-EMAIL.email.signup_input{ name: "EMAIL", placeholder: "email address", required: "", type: "email", value: "" }
    %div{ style: "position: absolute; left: -5000px;" }
      %input{ name: "b_04f9ab7c6af5b2f23b1545be2_8790e2dc86", tabindex: "-1", type: "text", value: "" }
    %input#mc-embedded-subscribe.button.signup_button{ name: "subscribe", type: "submit", value: "Subscribe" }

%main{ role:"main" }
  %section.page-section-families
    %ol.families-list#gallery
      - families.each do |family|
        %li.families-list-item
          %header.family-header
            %h3.family-title
              = family.title
            %h6.family-links
              = link_to "GitHub", family.repo_url
              = link_to family.author_handle, family.author_url
            %p.family-description
              = family.description
          %ul.families-list-item-gallery
            - family.files.each do |filename|
              %li.families-list-item-gallery-item
                %img{ src: "assets/components" + family.path + filename }
                .download
                  = link_to "Download",
                    "assets/components" + family.path + filename,
                    download: filename,
                    class: "download-link button",
                    onclick: "ga('send','event','downloads','#{filename}')"

= partial "partials/footer"
