---
title: Foundry ∞
---

%header.page-header.less{ data: { toggle_container: "container" } }
  .page-header-container
    = partial "partials/navigation"
    %h1.header-logo
      Foundry ∞
    %section.header-content
      %h2.header-subtitle{ data: { toggle_content: "less" } }
        Providing a new generation of vector assets and infinite possibility for the interactive web and mobile applications from the designers at
        = succeed "." do
          %a.thoughtbot{ href: "http://thoughtbot.com" }<
            thoughtbot
        %button.subtitle-linktodescription.more{ data: { toggle: "more" } }
          more
      .header-description{ data: { toggle_content: "more" } }
        %p
          SVGs are amazing. Finding new and interactive ways to share visual information, art, and fun is awesome and SVGs let us do this in ways that aren’t possible in raster art.
        %p
          Foundry is a new way of utilizing scalable vector graphics, giving designers the opportunity to contribute and collaborate on families of spot vector illustrations and icons and make them available for download/purchase. No more hunting around google for ten minutes to find just the right icon or wasting time recreating an iPhone when you know it’s already been done a thousand times.
          %button.subtitle-linktodescription.less{ data: { toggle: "less" } }
            less
    %nav.header-linkto
      = link_to "Gallery", "#gallery", class: "header-linktogallery button"

%main{ role:"main" }
  %section.page-section-families
    %ol.families-list#gallery
      - families.each do |family|
        %li.families-list-item
          %header.family-header
            %h3.family-title
              = family.title
            %h6.family-links
              = link_to "GitHub", family.repo_url
              = link_to family.author_handle, family.author_url
            %p.family-description
              = family.description
          %ul.families-list-item-gallery
            - family.files.each do |filename|
              %li.families-list-item-gallery-item
                %img{ src: "assets/components" + family.path + filename }
                = link_to "Download", "assets/components" + family.path + filename, download: true, class: "download-link"

= partial "partials/footer"
